<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuicKart</title>
    <link href="../static/landingstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="background-image">
        <div class="container gradient-custom">
            <h1>QuicKart</h1>
            <h3>Your quick service shopping kart</h3>
            <div class="buttons centre-button">
                <a href="/login"><button class="login-btn">Login</button></a>
                <a href="/signup"><button class="signup-btn">Signup</button></a>
            </div>
        </div>
    </div>
</body>
</html>
