<nav class="navbar navbar-expand-md navbar-dark bg-dark gradient-custom">
    <div class="container">
        <a class="navbar-brand font-weight-bold" href="/">QuicKart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-dark" href="/shop">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-dark" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-dark" href="/insights">Insights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-dark" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <form method="GET" action="/search" class="form-inline d-flex align-items-center">
                        <div class="form-group">
                            <input type="text" name="query" class="form-control" placeholder="Search by item or category name">
                        </div>
                        <button type="submit" class="btn btn-info ml-2">Search</button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-dark" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

